.card-signin .card-img-left {
width: 55%;
/* Link to your background image using in the property below! */
background: scroll center url('https://cdn.pixabay.com/photo/2019/07/26/20/52/man-4365597_960_720.png');
background-size: cover;
}