  .card-signin .card-img-left {
    width: 55%;
    /* Link to your background image using in the property below! */
    background: scroll center url('https://cdn.pixabay.com/photo/2016/02/29/15/02/doctor-1228629_960_720.jpg');
    background-size: cover;
  }