.txt {
    margin-top: -30%;
    text-shadow: 2px 2px 4px #000000;
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}

.slider-navigation-previous {
    visibility: hidden;
}

.slider-navigation-next {
    visibility: hidden;
}

