@using Facilidata.FaciliHosp.Infra.Identity.Enums
@model RegistroViewModel

@{
    ViewData["Title"] = "Alteracao";
    var sexoConta = Enum.GetNames(typeof(ESexoConta)).ToList();
    var sexoContaSelectList = sexoConta.Select((sexo, index) => new SelectListItem(sexo, sexo));


}

<div class="container">
    <div class="section">
        <div class="card columns">
            <div class="column">
                <div class='card-content is-flex is-horizontal-center'>
                    <figure class='image mt-6'>
                        <img src="~/assets/registro.jpg" />
                    </figure>
                </div>
            </div>
            <div class="column">
                <div class="media-content has-text-centered">
                    <p class="title is-4">Alteração Cadastral</p>
                </div>
                <form class="form-signin">
                    <partial name="_ErroAlert" />
                    <div class="card-content input-group-sm">
                        <div class="field">
                            <label class="label form-label-group">Nome Completo</label>
                            <div class="control">
                                <input class="input is-rounded form-control"
                                       asp-for="Nome" type="text"
                                       placeholder="Nome Completo" required />
                                <span asp-validation-for="Nome" class="is-danger" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label form-label-group">Data de Nascimento</label>
                            <div class="control">
                                <input class="input is-rounded form-control"
                                       asp-for="DataNascimento" type="date"
                                       required />
                                <span asp-validation-for="DataNascimento" class="is-danger" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label form-label-group">E-mail</label>
                            <div class="control">
                                <input asp-for="Email" type="email" id="inputemail"
                                       class="input is-half is-rounded form-control" required>
                                <span asp-validation-for="Email" class="is-danger" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label form-label-group">Insira seu CPF</label>
                            <div class="control">
                                <input asp-for="CPF"
                                       class="input is-rounded form-control"
                                       name="CPF" id="inputCPF" required
                                       maxlength="14">
                                <span asp-validation-for="CPF" class="is-danger" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label form-label-group">Sexo</label>
                            <div class="control">
                                <div class="select is-rounded form-control">
                                    <select asp-for="Sexo" asp-items="sexoContaSelectList"> </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label form-label-group">Senha</label>
                            <div class="control">
                                <input asp-for="Senha" type="password" id="inputpassword"
                                       class="input is-rounded form-control" placeholder="Senha"
                                       required minlength="6">
                                <span asp-validation-for="Senha" class="is-danger" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label form-label-group">Confirme Senha</label>
                            <div class="control">
                                <input asp-for="ConfirmacaoSenha" type="password"
                                       id="inputConfirmPassword" class="input is-rounded form-control"
                                       placeholder="Confirme Senha" required>
                                <span asp-validation-for="ConfirmacaoSenha" class="is-danger" />
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-centered">
                            <button type="submit" class="button is-info is-rounded" asp-controller="Usuario" asp-action="Registrar">
                                Alterar Dados
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $('#inputCPF').mask('000.000.000-00', { placeholder: "___.___.___-__" });
    </script>
}