@model LoginUsuarioViewModel

@{
    ViewData["Title"] = "Login";

}
<div class="container">
    <div class="section">
        <div class="card is-horizontal columns">
            <div class="card-image column is-three-fifths">
                <figure class="image">
                    <img src="~/assets/login.webp"/>
                </figure>
            </div>
            <div class="card-content mt-6 column is-dwo-fifths">
                <form class="form-signin">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Login</p>
                        </div>
                    </div>
                    <br />
                    <partial name="_ErroAlert" />
                    <div class="content">
                        <div class="field">
                            <label class="label">Email</label>
                            <input class="input is-rounded is-fullwidth"
                                   asp-for="Email" type="email" id="inputemail"
                                   placeholder="Email" required />
                        </div>
                        <div class="field">
                            <label class="label">Senha</label>
                            <input class="input is-rounded is-fullwidth"
                                   asp-for="Senha" type="password" id="inputpassword"
                                   placeholder="Senha" required />
                        </div>
                        <br />
                        <div class="buttons is-grouped-centered">
                            <button class="button is-info is-rounded is-fullwidth" asp-action="EnviarLogin">
                                Login
                            </button>
                            <button class="button is-success is-rounded is-fullwidth is-outlined" asp-action="Registro">
                                Cadastrar-se
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


