@{
    var erros = ViewData.ModelState
        .SelectMany(modelState => modelState.Value.Errors)
        .Select(erro => erro.ErrorMessage)
        .ToList();
}


@if (erros.Count > 0)
{
    <div class="notification is-danger">
        @foreach (var erro in erros)
        {
            <div>@erro</div>
        }
    </div>
}
