<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - FaciliHosp</title>
    <link rel="stylesheet" href="~/lib/bulma-0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="~/lib/bulma-0.9.0/css/bulma-carousel.min.css">
    <link rel="stylesheet" href="~/lib/bulma-0.9.0/css/bulma-divider.css" />
    <link rel="stylesheet" type="text/css" href="~/css/util.css">

</head>
<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Index">
                    <figure class="image is-32x32 mt-3">
                        <img src="~/assets/icons/logo.png" alt="Logo">
                    </figure>
                </a>
                <div class="navbar-burger" data-target="navbar-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="navbar-menu" id="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" asp-controller="Exame" asp-action="Index">
                            Lista de Exames
                        </a>
                    </div>

                    <div class="navbar-end">
                        <div class="navbar-item">
                            <a class="button is-info" asp-controller="Usuario" asp-action="Logout">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>

            }
            else
            {
                <div class="navbar-menu" id="navbar-menu">
                    <div class="navbar-end">
                        <span class="navbar-item">
                            <a class="button is-info" asp-controller="Usuario" asp-action="Login">
                                <span>Login</span>
                            </a>
                        </span>
                    </div>
                </div>
            }
        </div>
    </nav>
    <main role="main">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type='text/javascript' src='~/lib/knockout/knockout-min.js' asp-append-version="true"></script>
    <script defer src="~/js/all.js"></script>
    <script src="~/js/bulma.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
