@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="section">
        <div class="card columns">
            <div class="column is-half">
                <img class="is-pulled-right" src="~/assets/checklist.jpg" alt="">
            </div>
            <div class="column is-half">
                <h4 class="card-title">
                    <a asp-controller="Exame" asp-action="Index">Lista de Exames</a>
                </h4>
                <p class="card-text">Área de armazenamento de exames realizados para controle ou de uso em futuras consultas.</p>
            </div>
        </div>
        <div class="card columns">
            <div class="column is-half">
                <img class="is-pulled-right" src="~/assets/cadastro.jpg" alt="">
            </div>
            <div class="column is-half">
                <h4 class="card-title">
                    <a asp-controller="Usuario" asp-action="Alteracao">Altere seus Dados Cadastrais</a>
                </h4>
                <p class="card-text">Modifique suas informações cadastrais</p>
            </div>
        </div>
        <div class="card columns">
            <div class="column is-half">
                <img class="is-pulled-right" src="~/assets/planos.jpg" alt="">
            </div>
            <div class="column is-half">
                <h4 class="card-title">
                    <a asp-controller="Home" asp-action="Planos">Altere seu Plano</a>
                </h4>
                <p class="card-text">Altere para o plano de sua preferência</p>
            </div>
        </div>
    </div>
</div>



