@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" type="text/css" href="~/css/recursos_userstyle.css">

<div class="container">
    <br />
    <br />
    <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="~/assets/checklist.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <a asp-controller="Exame" asp-action="Index">Lista de Exames</a>
                    </h4>
                    <p class="card-text">Área de armazenamento de exames realizados para controle ou de uso em futuras consultas.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="~/assets/lista.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <a asp-controller="Home" asp-action="ComingSoon">Minhas Consultas</a>
                    </h4>
                    <p class="card-text">Local para gestão de consultas futuras ou ja realizadas pelo paciente</p>
                </div>
            </div>
        </div>
    </div>

</div>
    
    <!--
    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
            <a href="#">
                <img class="card-img-top"
                     src="fimage/fila.jpg"
                     alt="">
            </a>
            <div class="card-body">
            <h4 class="card-title">
                <a href="#" onclick="fila()">Analise de Fila</a>
            </h4>
                <p class="card-text">Função de analise para disponibilidade de atendimento em hospitais.</p>
            </div>
        </div>
    </div>
    -->