@{
    ViewData["Title"] = "Home";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/lib/bulma-0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="~/lib/bulma-0.9.0/css/bulma-carousel.min.css">
    <link rel="stylesheet" href="~/lib/bulma-0.9.0/css/bulma-divider.css" />
    <link rel="stylesheet" href="~/css/homestyle.css">
</head>

<body>

    <section class="hero has-carousel is-fullheight">
        <div class="hero-carousel slider">
            <div class="item-1 content">
                <div class="has-background">
                    <img class="is-background" src="~/assets/home0.jpg" alt="" />
                </div>
                <div class="has-text-centered">
                    <div class="title is-1 has-text-grey-light txt">Bem Vindo ao Sistema FaciliHosp</div>
                </div>
            </div>
            <div class="item-2 content">
                <div class="has-background">
                    <img class="is-background" src="~/assets/home1.jpg" alt="" />
                </div>
                <div class="has-text-centered">
                    <div class="title is-3 has-text-grey-light txt">Armazene seus Exames</div>
                </div>
            </div>
            <div class="item-3 content">
                <div class="has-background">
                    <img class="is-background" src="~/assets/home2.jpg" alt="" />
                </div>
                <div class="ml-6">
                    <div class="title is-3 has-text-link txt">Compartilhe seus Resultados</div>
                </div>
            </div>
        </div>
        <div class="hero-head">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Index">
                            <figure class="image is-32x32 mt-3">
                                <img src="~/assets/icons/logo.png" alt="Logo">
                            </figure>
                        </a>
                        <div class="navbar-burger" data-target="navbar-menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div id="navbar-menu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item" target="_blank">
                                <a class="button is-info label" asp-controller="Usuario" asp-action="Login">
                                    <span>Login</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <script src="~/js/bulma-carousel.min.js"></script>
    <script>
        var carousels = bulmaCarousel.attach('.hero-carousel', {
            slidesToScroll: 1,
            slidesToShow: 1,
            pagination: true,
            effect: 'fade',
            loop: true,
            duration: 400,
            autoplay: true
        });
    </script>
    <script src="~/js/bulma.js"></script>
</body>

</html>









