@page
@{
}

<section class="hero is-info is-medium is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">Conheça nossos planos!</h1>
        </div>
    </div>
</section>
<div class="pricing-table">
    <div class="pricing-plan">
        <div class="plan-header">Plano 1</div>
        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">R$</span>10</span>/mês</div>
        <div class="plan-items">
            <div class="plan-item">20GB Armazenamento</div>
            <div class="plan-item">25 Exames</div>
            <div class="plan-item">5 Alguma coisa</div>
            <div class="plan-item">3 Reaix</div>
        </div>
        <div class="plan-footer">
            <button class="button is-fullwidth">Escolher</button>
        </div>
    </div>

    <div class="pricing-plan is-active">
        <div class="plan-header">Plano 2</div>
        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">R$</span>20</span>/mês</div>
        <div class="plan-items">
            <div class="plan-item">30GB Armazenamento</div>
            <div class="plan-item">50 Exames</div>
            <div class="plan-item">10 Alguma coisa</div>
            <div class="plan-item">3 Nadas</div>
        </div>
        <div class="plan-footer">
            <button class="button is-fullwidth">Escolher</button>
        </div>
    </div>

    <div class="pricing-plan">
        <div class="plan-header">Plano 3</div>
        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">R$</span>60</span>/mês</div>
        <div class="plan-items">
            <div class="plan-item">50GB Armazenamento</div>
            <div class="plan-item">100 Exames</div>
            <div class="plan-item">20 Alguma coisa</div>
            <div class="plan-item">666 Nadas</div>
        </div>
        <div class="plan-footer">
            <button class="button is-fullwidth">Escolher</button>
        </div>
    </div>
</div>