@model EditarExameViewModel

@{
    ViewData["Title"] = "Exame";
}

@if (string.IsNullOrEmpty(Model.Id))
{
    <h1>Novo Exame</h1>
}
else
{<h1>Editar Exame</h1>}



<form>
    <input asp-for="Id" hidden />
    <input asp-for="HospitalId" hidden />
    <input asp-for="UserId" hidden />
    <div class="form-group">
        <label>Tipo</label>
        <input asp-for="Tipo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Resultado</label>
        <input asp-for="Resultado" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary" asp-action="Salvar">Salvar</button>
</form>