@model List<ExamePacientesViewModel>

@{
    ViewData["Title"] = "Pacientes";
}
<link href="~/css/tab.paciente_medstyle.css" rel="stylesheet" type="text/css">

<div class="container">
    <br /><br />
    <table>
        <thead>
            <tr class="table100-head">
                <th class="column1">Paciente</th>
                <th class="column5">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var paciente in Model)
            {
                <tr>
                    <td class="column1">@paciente.Nome</td>
                    <td class="column5">
                        <a asp-action="NovoExameHospitais" asp-controller="Exame" asp-route-usuarioId="@paciente.Id">Escolher Paciente</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br /><br />
    <a class="btn btn-warning" asp-controller="Exame" asp-action="Index">
        Voltar para Exames
    </a>

</div>