@model List<ExamePacientesViewModel>

@{
    ViewData["Title"] = "Pacientes";
}
<h1>Pacientes</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Ações</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <th scope="row">@usuario.Nome</th>
                <td>
                    <a class="btn btn-warning" asp-action="Index" asp-route-hospitalId="@usuario.HospitalId"  asp-route-usuarioId="@usuario.Id">Exames</a>
                </td>
            </tr>
        }


    </tbody>
</table>